/* ------------------------
Global
------------------------ */

:root {
    --Inter: 'Inter', sans-serif;
}


body {
    background: var(--bs-light);
    color: var(--bs-dark);
    font-family: var(--Inter);
    line-height: 2;
    overflow-x: hidden;
}

.container {
    /* max-width: 48rem; */
    padding: 1rem 2rem;
    margin: 0 auto;
}

.is-flex {
    display: flex;
}

#error-msg {
    display: none;
}

